<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kinnisvara hinnakalkulaator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar sticky-top navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">
            <img src="/static/images/tall-copy-14126542138gkn4.png" width="35" height="35" class="d-inline-block align-top" alt="">
            <span class="align-middle">Tallinna kinnisvara hinnakalkulaator</span>
        </span>
    </nav>

    <main>{% include template %}</main>


    <footer>

    </footer>

</body>

</html>